.header {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #f8f8f8;
}

.btn {
  border: none;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Centrer l'image logo */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 40px; /* Ajustez selon vos besoins */
}
