.mosaic-wrapper {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

.mosaic-main-separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
}

.mosaic-separator {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 0px auto;
}

.mosaic-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 20px;
}

.mosaic-item {
    text-align: center;
}

.mosaic-item figure {
    height: 200px;
    margin: 0;
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mosaic-url {
    text-decoration: none;
}

.category {
    margin: 14px 0 2px 3px;
    font-weight: bold;
    font-size: 1rem;
    color: #97C4FF;
    text-align: start;
}

.title {
    margin: 0 0 0 3px;
    font-weight: 650;
    font-size: 1.1rem;
    color: black;
    text-align: start;
}

/* Styles pour la pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-arrow {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.pagination-arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-dots {
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.dot.active {
    background-color: #000;
}
